<?xml version='1.0' encoding='windows-1252'?>

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='Omni Terminal'
        UpgradeCode='87c21c74-dbd5-4584-89d5-46d9cd0c40a8'
        Manufacturer='Omni LLC'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='Omni Terminal is a GPU-accelerated terminal emulator built to run everywhere.'
            Manufacturer='Omni LLC'
            InstallerVersion='200'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252' />

        <MajorUpgrade
            AllowSameVersionUpgrades='yes'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed.' />

        <MediaTemplate EmbedCab='yes' />

        <Icon Id='OmniTerminalIcon' SourceFile='misc\windows\omni-terminal.ico' />
        <Property Id='ARPPRODUCTICON' Value='OmniTerminalIcon' />

        <WixVariable Id='WixUILicenseRtf' Value='misc\windows\License.rtf' />

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)'>
                <Directory Id='OmniTerminalProgramFiles' Name='Omni Terminal' />
            </Directory>
            <Directory Id='ProgramMenuFolder'>
                <Directory Id='OmniTerminalProgramMenu' Name='Omni Terminal' />
            </Directory>
        </Directory>

        <!-- Application binary -->
        <DirectoryRef Id='OmniTerminalProgramFiles'>
            <Component Id='OmniTerminalExe' Guid='*'>
                <File Id='OmniTerminalExeFile'
                    Name='omni-terminal.exe'
                    Source='$(var.CargoTargetBinDir)\omni-terminal.exe'
                    KeyPath='yes' />
            </Component>
        </DirectoryRef>

        <!-- Start menu shortcut -->
        <DirectoryRef Id='OmniTerminalProgramMenu'>
            <Component Id='OmniTerminalShortcut' Guid='aa36e61a-23cd-4383-b744-2f78e912f0dc'>
                <Shortcut Id='OmniTerminalShortcutFile'
                    Name='Omni Terminal'
                    Description='A GPU-accelerated terminal emulator'
                    Target='[OmniTerminalProgramFiles]omni-terminal.exe'
                    Icon='OmniTerminalIcon' />
                <RemoveFolder Id='OmniTerminalProgramMenu' On='uninstall' />
                <RegistryValue Root='HKCU'
                    Key='Software\Microsoft\OmniTerminal'
                    Name='installed'
                    Type='integer'
                    Value='1'
                    KeyPath='yes' />
            </Component>
        </DirectoryRef>

        <!-- Add to PATH -->
        <DirectoryRef Id='OmniTerminalProgramFiles'>
            <Component Id='ModifyPathEnv' Guid='edf0b679-9eb6-46f7-a5d1-5160f30acb34' KeyPath='yes'>
                <Environment Id='PathEnv'
                    Name='PATH'
                    Value='[OmniTerminalProgramFiles]'
                    Permanent='no'
                    Part='first'
                    Action='set'
                    System='yes' />
            </Component>
        </DirectoryRef>

        <!-- Context menu: "Open Omni Terminal here" -->
        <Component Id='ContextMenu' Guid='449f9121-f7b9-41fe-82da-52349ea8ff91' Directory='TARGETDIR'>
            <RegistryKey Root='HKCU' Key='Software\Classes\Directory\Background\shell\Open Omni Terminal here\command'>
                <RegistryValue Type='string' Value='[OmniTerminalProgramFiles]omni-terminal.exe --working-dir "%v"' KeyPath='yes' />
            </RegistryKey>
            <RegistryKey Root='HKCU' Key='Software\Classes\Directory\Background\shell\Open Omni Terminal here'>
                <RegistryValue Type='string' Name='Icon' Value='[OmniTerminalProgramFiles]omni-terminal.exe' />
            </RegistryKey>
        </Component>

        <Feature Id='ProductFeature' Title='Omni Terminal' Level='1'>
            <ComponentRef Id='OmniTerminalExe' />
            <ComponentRef Id='OmniTerminalShortcut' />
            <ComponentRef Id='ModifyPathEnv' />
            <ComponentRef Id='ContextMenu' />
        </Feature>

        <UI>
            <UIRef Id='WixUI_Minimal' />
        </UI>

    </Product>

</Wix>
